.PhotoUpload {
  border-radius: 4px;
  border: 1px solid #b3b3b3;
  height: 110px;
  font-size: 16px;
  padding: 6.5px;
  outline: 0;
  &__text {
    margin-top: 5%;
  }
  &__dropzone {
    height: 28px;
    width: 150px;
    border: 2px solid #40c4cf;
    border-radius: 6px;
    color: #40c4cf;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    cursor: pointer;

    &:hover {
      background: rgba(78, 232, 232, 0.27);
    }
  }
  &__photo {
    object-fit: scale-down;
    height: 70px;
    width: 70px;
    display: block;
  }
}
