:root {
  --field-width: 10rem;
}

.Form {
  &__field-set {
    display: flex;
    margin: auto auto 20px auto;
  }

  &:focus {
    border: 1px solid #6d7ce7;
  }

  &__label-field {
    position: relative;
    flex-basis: var(--field-width);
    width: var(--field-width);
    box-sizing: border-box;
    text-transform: uppercase;
    color: #626977;
    font-size: 12px;
    font-weight: bold;
  }

  &__input-field {
    position: relative;
    flex-basis: calc(100% - var(--field-width));
    width: calc(100% - var(--field-width));
  }

  &__input {
    width: 100%;
    box-sizing: border-box;
    font-family: inherit;
    border-radius: 4px;
    border: 1px solid #b3b3b3;
    line-height: 2rem;
    padding: 0.5rem 1rem;

    font-size: 1rem;

    outline: 0;

    &_text {
      line-height: 1.3rem;
      resize: none;
      font-size: 1rem;
      width: 100%;
      padding: 0.5rem;
      height: 200px;
    }
  }

  &__warning {
    margin-left: 40px;
    color: darkred;
  }

  &__categories {
    padding: 10px 15px;
    color: #3b5ace;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(234, 235, 237, 0.5);
    cursor: pointer;
    width: 22.9%;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid #cacdd2;
    &_container {
      display: flex;
    }
    &:hover {
      border: 1px solid #3b5ace;
    }
    &:focus {
      outline: 0;
    }
  }

  &__button {
    display: block;
    font-size: 1rem;
    padding: 1rem 2rem;
    border: 0;
    border-radius: 6px;

    background: rgb(64, 196, 207);
    color: #f5f5f6;
    font-weight: bold;
    cursor: pointer;

    &:focus {
      outline: 0;
      box-shadow: 0 2px 4px 0 #1696a8;
    }
    &:hover {
      background: #20646a;
    }
  }

  &__warning,
  &__error {
    top: 1px;
    padding: 0.2rem 0.6rem;
    font-size: 0.7rem;
    position: absolute;
    color: #d0021b;
    right: 1px;
    background: #eee;
    border-radius: 3px;
    opacity: 0.8;
  }

  &__warning {
    color: #1000ff;
  }
}
