.UserForm {

  &__input-field {
    margin-bottom: 1rem;
    position: relative;
  }

  &__input {
    width: 100%;
    box-sizing: border-box;
    font-family: inherit;
    border-radius: 4px;
    border: 1px solid #b3b3b3;
    line-height: 2rem;
    padding: 0.5rem 1rem;

    font-size: 1rem;

    outline: 0;

    &_text {
      line-height: 1.3rem;
      font-size: 1rem;
      width: 100%;
      padding: 0.5rem;
      height: 200px;
    }
  }

  &__warning {
    margin-left: 40px;
    color: darkred;
  }

  &__button {
    border-radius: 10px;
    width: 83%;
    margin-top: 16px;
    margin-left: 35px;
    height: 38px;
    color: white;
    border: 0;
    background: #40c4cf;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    &:hover {
      background: #20646a;
    }
    &:disabled {
      background: rgba(62, 190, 201, 0.41);
    }
    &:focus {
      outline: 0;
    }
  }

  &__warning,
  &__error {
    top: 1px;
    padding: 0.2rem 0.6rem;
    font-size: 0.7rem;
    position: absolute;
    color: #d0021b;
    right: 1px;
    background: #eee;
    border-radius: 3px;
    opacity: 0.8;
  }

  &__warning {
    color: #1000ff;
  }
}
