.EventDetails {
  &__settings {
    background: #89d8e0;
    padding-left: 6em;
  }
  &__settings-button {
    display: inline-block;
    margin-right: 2rem;
    &:hover {
      color: #40c4cf;
    }
  }
  &__settings-text {
    font-weight: bold;
    font-size: 0.8em;
    border: none;
    background: transparent;
    cursor: pointer;
    height: 2.5em;
    color: #fafafb;
    text-transform: uppercase;
    &:hover {
      color: #40c4cf;
      outline: none;
    }
  }
  &__header {
    background: #f5f5f6;
    padding: 1.5em 1.5em;
    &_container {
      margin-left: auto;
      margin-right: auto;
      max-width: 930px;
    }
  }
  &__organization {
    color: #2c374a;
  }
  &__location {
    margin: 5px 0 0 0;
    color: #626977;
    display: inline-block;
    vertical-align: middle;
  }
  &__name {
    color: #2c374a;
    font-weight: bold;
  }
  &__options {
    border-top: 1px solid #eaebed;
    padding-top: 1em;
    margin-top: 1em;
    display: flex;
  }
  &__option-button{
    display: flex;
    padding: 0;
    margin: 0 1rem 0 0;
    font-weight: bold;
    cursor: pointer;
    background: transparent;
    border: none;
    color: #40c4cf;
    &:active {
      color: #89d8e0;
    }
    &:hover {
      color: #89d8e0;
    }
  }
  &__photo {
    max-width: 24em;
    display: block;
    min-height: 14em;
    border-radius: 1em;
    border: 1px solid #eaebed;
    margin-top: 3rem;
  }
  &__details {
    max-width: 59em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    &_left-block {
      width: 50%;
      float: left;
    }
    &_right-block {
      margin-left: 10%;
      width: 39%;
      float: left;
    }
  }
  &__details-title{
    display: flex;
    color: #626977;
    border-bottom: 1px solid #eff0f2;
    margin-bottom: 1.5rem;
    margin-top: 3rem;
    height: 60px;
  }

  &__story-title {
    font-weight: bold;
    display: inline-block;
    width: 23%;
    color: #626977;
    font-size: 0.7em;
    text-transform: uppercase;
    margin-top: 0;
  }
  &__story {
    margin: 0;
    display: inline-block;
    color: #626977;
  }
  &__icon {
    margin: 1rem 0.5rem;
    width: 30px;
    height: 38px;

    &_flag {
      background: url("/icons/flag.svg") no-repeat;
      margin: 0 0.1rem 0 2rem;
      width: 26px;
      height: 20px;
    }
    &_heard {
      background: url("/icons/heart.svg") no-repeat;
      margin: 0 0.1rem 0 0;
      width: 26px;
      height: 20px;
    }
    &_edit {
      background: url("/icons/edit.svg") no-repeat;
    }
    &_delete {
      background: url("/icons/delete.svg") no-repeat;
    }
    &_push-pin{
      background: url("/icons/push-pin.svg") no-repeat;
    }
    &_legal-paper{
      background: url("/icons/legal-paper.svg") no-repeat;
    }
    &_contact{
      background: url("/icons/contact.svg") no-repeat;
      margin: 0.5rem;
      width: 38px;
    }
    &_location{
      background: url("/icons/location.svg") no-repeat;
      margin: 1rem 0.5rem;
      width: 23px;
      height: 23px;
    }
  }
}
