.page-not-found{
  background: #40c4cf;
  text-align: center;
  height:100vh;

  & h1, h2{
    margin: 0;
    color: white;
  }
  & p{
    color: #ececec;
    font-size: 20px;
  }
  & span{
    color: #ececec;
    font-size: 20px;
    text-transform: uppercase;
  }

  &__title{
    font-size: 60px;
    padding-top: 190px;
  }

  &__sub-title{
    font-size: 30px;
    text-transform: uppercase;
  }

  & button{
    margin-top: 45px;
    margin-bottom: 130px;
    color: white;
    border: 2px solid #ffffff;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    background: transparent;
    padding: 15px 35px;
    font-size: 20px;

    &:hover{
      border: 2px solid #5d89d0;
      color: #5d89d0;
    }
  }
}