.react-datetime-picker {
  &__button {
    margin-left: 0;
    border-radius: 4px;
    border: 1px solid #b3b3b3;
    padding: 10px;

    &__input {
      font-family: Arial, sans-serif;
    }
  }
  &__calendar {
    z-index: 1;
  }
  &__clock {
    z-index: 1;
  }
}
