.AddUser {
  position: relative;
  &__button {
    border-radius: 10px;
    width: 83%;
    margin-top: 16px;
    margin-left: 35px;
    height: 38px;
    color: white;
    border: 0;
    background: #40c4cf;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    &:hover {
      background: #20646a;
    }
    &:disabled {
      background: rgba(62, 190, 201, 0.41);
    }
    &:focus {
      outline: 0;
    }
  }
  &__carpet {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
  }
  &__photo-upload {
    display: flex;
    margin: auto 35px 20px 35px;
  }
  &__input {
    margin-bottom: 25px;
    &_text {
      font-family: Gotham, Helvetica, Arial, sans-serif;
      display: flex;
      border-radius: 4px;
      border: 1px solid #b3b3b3;
      height: 31px;
      width: 80%;
      margin: auto;
      font-size: 16px;
      padding: 3.5px;
      outline: 0;
    }
    &_warning {
      margin-left: 40px;
      color: darkred;
    }
    &:hover {
      border: 1px solid #6d7ce7;
    }
    &:focus {
      border: 1px solid #6d7ce7;
    }
  }
  &__title {
    position: relative;
    border-radius: 10px;
    max-width: 400px;
    margin: 10px auto auto auto;
    border: 1px solid #80808030;
    padding-right: 6px;
    background: white;
    &_container {
      margin: auto;
      display: block;
    }
    &_text {
      margin: 0;
      padding: 25px;
      color: black;
      font-weight: 500;
      text-align: center;
    }
  }
  &__container {
    background: #8080801c;
    padding: 45px 0;

  }
}
