.ManipulateEvent {
  position: relative;
  width: 36rem;
  margin: auto;

  &__breadcrumb {
    counter-reset: list;
    font-size: 0.9rem;
    display: flex;
    flex-wrap: wrap;
  }

  &__breadcrumb-link {
    margin-right: 0.5rem;
    &:before {
      counter-increment: list;
      content: counter(list) ". ";
    }
    &:after {
      content: ""; //TODO: add some beautiful style.
    }
  }

  &__carpet {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
  }

  &__icon {
    display: inline-block;
    height: 24px;
    width: 24px;
    margin: 0 0.5em;

    &_push-pin {
      background: url("/icons/push-pin.svg");
    }
    &_legal-paper {
      background: url("/icons/legal-paper.svg");
    }
  }

  &__title {
    line-height: 1.3em;

    &_text {
      width: 600px;
      margin: 0 auto auto auto;
      color: #504b4d;
      padding: 2%;
    }

    &_sub-navigation {
      width: 600px;
      display: flex;
      margin: auto auto 30px auto;
      padding: 10px;
      border-bottom: 1px solid rgba(98, 105, 119, 0.1);
    }
  }
}
