.Navigation {
  display: flex;
  background: rgb(64, 196, 207);
  align-items: center;

  &__link {
    font-family: "PT Serif";
    font-size: 1rem;
    text-transform: uppercase;
    display: inline;
    margin: 1rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
    &:hover {
      color: rgb(93, 137, 208);
    }
    &__active {
      border-bottom: 1px dashed;
    }
  }
  &__button {
    border: 2px solid #f5f5f6;
    border-radius: 1em;
    background: #40c4cf;
    min-width: 10em;
    margin-right: 2em;
    color: #f5f5f6;
    font-weight: bold;
    height: 3em;
    cursor: pointer;

    &:hover {
      border: 2px solid #5d89d0;
      color: #5d89d0;
    }
    &:focus {
      outline: 0;
    }
  }
  &__logo {
    color: #ffffff;
    margin-left: 2rem;
    text-transform: uppercase;
    a {
      text-decoration: inherit;
      color: inherit;
    }
  }
}
