ul{
    padding: 0;
}
body{
    margin: 0;
}
.AddEvent{
    /*background-color: plum;*/
}
.AddEvent__title{
    background-color: #F5F5F6;
    font-family: "Helvetica", "Arial", sans-serif;
    color: #504b4d;
    padding: 5%;
}
.AddEvent__subtitle{
    font-family: "Helvetica", "Arial", sans-serif;
    color: #626977;
    height:36px;
    border-bottom: 1px solid #626977;
    font-size: 1.125em;
    font-weight: 500;
}
.AddEvent__container{
    display: flex;
    height: 50px;
    width: max-content;
    margin: auto;
}
.AddEvent__field{
    color: #626977;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin: 10px;
    align-self: flex-start;
    width: 200px;
}
.AddEvent__input{
    border-radius:4px;
    border:1px solid #b3b3b3;
    height:36px;
    font-size: 20px;
}
