.cover {
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
  &__navigation {
    background-color: #f5f5f6;
    &_text {
      text-transform: uppercase;
      color: #626977;
      font-family: 'Helvetica', 'Arial', sans-serif;
      font-size: 12px;
      font-weight: bold;
      display: block;
      text-align: center;
    }
  }
}
