.event-details {
  padding-bottom: 120px;

  &__title {
    background-color: #fafafa;
    color: #2c374a;
    font-size: 22px;
    padding: 30px 192px;
    margin: 0;
    font-weight: bold;
    line-height: 1.59091;

  }
  &__name{
    color: #2c374a;
    font-size: 36px;
    font-weight: bold;
    margin: 0 0 5px  0;
  }
  &__organization{
    line-height: 1.38889;
    max-width: 465px;
    margin-top: 5px;
    color: #2c374a;
    font-size: 18px;

  }
  &__block-row {
    border-top: 1px solid #eaebed;
    padding-top: 15px;
    margin-top: 15px;
  }

  &__button-name {
    display: inline-block;
    vertical-align: middle;
    margin-top: 5px;
  }

  &__btn{
    font-weight: bold;
    font-size: 11px;
    border: none;
    background: transparent;
    cursor: pointer;
    margin-right: 30px;
    height: 35px;
    color: #fafafb;
    text-transform: uppercase;
  }

  &__edit-container{
    display: inline-block;
    &:hover{
      .event-details__btn{
        color: #40c4cf;}
        .event-details__icon-edit{
          content: url("icons/edit-blue.svg");
        }
    }
  }

  &__delete-container{
    display: inline-block;
    &:hover{
      .event-details__btn{
      color: #40c4cf;}
      .event-details__icon-delete{
        content: url("icons/delete-blue.svg");
      }
    }
  }

  &__button-report{
    font-weight: bold;
    font-size: 13px;
    cursor: pointer;
    margin-right:10px;
    background: transparent;
    border: none;
    vertical-align: middle;
    color: #9398a1;
    display: inline-block;
    &:active {
      color: #89d8e0;

      .event-details__icon-flag {
        content: url("icons/flag.svg");
      }
    }
    &:hover{
      color: #89d8e0;

      .event-details__icon-flag {
        content: url("icons/flag.svg");
      }
    }
  }
  &__button-bookmark{
    font-weight: bold;
    font-size: 13px;
    cursor: pointer;
    margin-right:10px;
    background: transparent;
    border: none;
    vertical-align: middle;
    color: #9398a1;
    display: inline-block;
    &:active {
      color: #89d8e0;

      .event-details__icon-heard {
        content: url("icons/heart.svg");
      }
    }
    &:hover{
      color: #89d8e0;

      .event-details__icon-heard{
        content: url("icons/heart.svg");
      }
    }

  }
  &__main-info{
    margin-left: auto;
    margin-right: auto;
    max-width: 930px;
  }
  &__photo{
    max-width: 375px;
    margin: 0 auto 45px auto;
    display: block;
    min-height: 215px;
    border-radius: 10px;
    border: 1px solid #eaebed;

  }

  &__subnav{
    background-color: #89d8e0;
    padding-left: 120px;
    padding-right: 45px;
    display: flex;
    justify-content: space-between;
  }
  &__container{
    background: #f5f5f6;
    padding: 30px 1.5em;
    //position: relative;
  }

  &__additional-info{
    max-width: 930px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
  }
  &__name-info-block{
    display: inline-block;
    margin-left: 14px;
    color: #626977;
    font-size: 18px;
    font-weight: bold;
    vertical-align: bottom;
    //width: 80%;
    margin-top: 2px;
    margin-bottom: 0;
  }
  &__info-block{
    margin-bottom: 60px;
  }
  &__divider{
    margin: 20px 0 0 0;
    border: 0;
    border-top: 1px solid #eff0f2;
    height: 1px
  }
  &__title-info{
    vertical-align: middle;
    padding-bottom: 24px;
  }

  &__info-cont{
    padding: 0 10px;
    margin-bottom: 15px
  }
  &__story-title{
    display: inline-block;
    vertical-align: top;
    width: 30%;
    color: #626977;
    line-height: 22px;
    padding-top: 3px;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
  }
  &__story{
    margin: 0;
    display: inline-block;
    width: 69%;
    color: #626977;
    line-height: 25px;
    font-size: 15px;
  }

  &__category{
    margin: 0;
    display: inline-block;
    line-height: 25px;
    font-size: 15px;
    color: #3b5ace;
  }


  &__description{
    margin: 0;
    display: inline-block;
    color: #626977;
    line-height: 25px;
    font-size: 15px;
  }

  &__icon-location {
    margin-right: 5px;
    width: 16px;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
    content: url("icons/location-gray.svg");

  }
  &__location {
    margin: 5px 0 0 0;
    font-size: 15px;
    color: #626977;
    display: inline-block;
    vertical-align: middle;

  }
  &__left-info{
    width: 56%;
    float: left;
  }
  &__right-info{
    margin-left: 10%;
    width: 32%;
    float: left;
  }
}

.event-details__icon-flag {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
  content: url("icons/flag-event.svg");
}

.event-details__icon-heard {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
  content: url("icons/heart-event.svg");
}

.event-details__icon-contact {
  width: 23px;
  height: 23px;
  display: inline-block;
  vertical-align: middle;
  content: url("icons/contact.svg");
}
.event-details__icon-categories {
  content: url("icons/categories.svg");
}


.event-details__icon-paper {
  width: 23px;
  height: 23px;
  display: inline-block;
  vertical-align: middle;
  content: url("icons/paper.svg");
}
.event-details__icon-location {
  width: 23px;
  height: 23px;
  display: inline-block;
  vertical-align: middle;
  content: url("icons/location.svg");
}

.event-details__icon-push-pin {
  width: 23px;
  height: 23px;
  display: inline-block;
  vertical-align: middle;
  content: url("icons/push-pin.svg");
}
.event-details__icon-legal-paper {
  width: 23px;
  height: 23px;
  display: inline-block;
  vertical-align: middle;
  content: url("icons/legal-paper.svg");
}
.event-details__icon-edit{
  width: 18px;
  height: 18px;
  vertical-align: middle;
  content: url("icons/edit.svg");
}
.event-details__icon-delete{
  width: 18px;
  height: 18px;
  vertical-align: middle;
  content: url("icons/delete.svg");
}

.event-details__icon-calendar {
  content: url("icons/calendar.svg");
}