.event {
  &__block {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    //flex-wrap: wrap;
    //justify-content: space-around;
  }

  &__photo {
    margin-right: 15px;
    width: 80px;
    height: 80px;
    border: 1px solid #f5f5f6;
    border-radius: 10px;
    display: inline-block;
  }
  &__info {
    display: inline-block;
    margin-left: -70px;
    width: 40%;
  }

  &__container {
    display: flex;
    padding: 40px 15px 39px 15px;
    cursor: pointer;
    justify-content: space-between;
    border-bottom: 1px solid #f5f5f6;

    &:hover {
      background: #fafafa;
    }
  }

  &__name {
    font-size: 16px;
    color: #3b5ace;
    margin: 1px 0 0 0;
  }
  &__location-block {
    vertical-align: middle;
  }
  &__location {
    margin: 5px 0 0 0;
    font-size: 13px;
    color: #9398a1;
    display: inline-block;
    vertical-align: middle;
  }

  &__time {
    text-align: right;
    margin: 0;
    font-size: 14px;
    font-weight: 300;
    color: #9398a1;
  }

  &__organization {
    font-size: 15px;
    color: #9398a1;
    margin: 10px 0 5px 0;
  }

  &__subnav {
    background-color: #89d8e0;
    padding-left: 45px;
    padding-right: 45px;
    display: flex;
    justify-content: flex-end;
  }
  &__signUp {
    color: #fafafb;
    font-size: 12px;
    text-transform: uppercase;
    border: none;
    background-color: transparent;
    font-weight: bold;
    line-height: 35px;
    cursor: pointer;

    &:hover {
      color: #40c4cf;
    }
  }
  &__logIn {
    color: #fafafb;
    font-size: 12px;
    text-transform: uppercase;
    border: none;
    background-color: transparent;
    font-weight: bold;
    line-height: 35px;
    cursor: pointer;

    &:hover {
      color: #40c4cf;
    }
  }
  &__divider {
    border-right: 1px solid #fafafb;
    margin: 9px 10px 10px 10px;
    height: 16px;
  }
  &__title {
    background-color: #fafafa;
    color: #2c374a;
    font-size: 22px;
    padding: 30px 192px;
    margin: 0;
    font-weight: bold;
    line-height: 1.59091;
  }
  &__content {
    max-width: 930px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 30px;
  }

  &__btn {
    line-height: 2.4;
    color: #40c4cf;
    background: #fff;
    border: 2px solid #40c4cf;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    margin-top: initial;
    width: 150px;

    &:hover {
      background: #d9f3f5;
    }
  }

  &__icon-location {
    margin-right: 5px;
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
    content: url("icons/location-gray.svg");
  }
  &__main {
    overflow: hidden;
  }
}
