@font-face {
  font-family: Gotham;
  src: url(font/GothamBook.ttf);
}
@font-face {
  font-family: Gotham;
  src: url(font/GothamBold.ttf);
  font-weight: bold;
}

//.img {
//  display: block;
//}

.user-details {
  &__title {
    //color: #2c374a;
    color: black;
    font-size: 50px;
    font-family: Gotham, Helvetica, Arial, sans-serif;
    //margin-left: 30px;


    &_main{
      background-color: #fafafa;
      color: #2c374a;
      font-size: 22px;
      padding: 30px 192px;
      margin: 0;
      font-weight: bold;
      line-height: 1.59091;

    }

    &_container {
      //background-color: #F5F5F6;
    }
  }
  &__name{
    color: #2c374a;
    font-size: 36px;
    font-family: Gotham, Helvetica, Arial, sans-serif;
    font-weight: bold;
    margin: 0;
  }

  &__block-column {
    display: flex;
    flex-direction: column;
    width: 70%;
    //margin: auto;
    border-bottom: 1px solid rgba(98, 105, 119, 0.31);
    margin: 20px 50px 0 50px;
    //
    //h1, h2{
    //    margin: 0;
    //
    //}

    //float: left;
  }

  &__name-column{
    //margin-top: 20px;
  }
  &__main-column{
    display: flex;
    justify-content: space-between;
  }
  &__edit-column{
padding-top: 15px;
  }

  &__block-row {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: auto;
  }

  &__location {

  }

  &__button-descr {
    display: inline-block;
    vertical-align: middle;
  }

  &__btn{
    font-family: Gotham, Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 11px;
    border: none;
    background: transparent;
    cursor: pointer;
    margin-right: 30px;
    height: 35px;
    color: #fafafb;
    text-transform: uppercase;

    &:active {
      color: #40c4cf;
    }
    &:hover{
      color: #40c4cf;
    }
  }

  &__button{
    font-family: Gotham, Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 11px;
    //cursor: pointer;
    //margin-right: 30px;
    height: 35px;
    width: 210px;
    text-transform: uppercase;
    //line-height: 2.4;
    color: #40c4cf;
    text-align: center;
    border-radius: 10px;
    background: #fff;
    border: 2px solid #40c4cf;
    margin: 10px;

    &:active {
      background: #d9f3f5;
    }
    &:hover{
      background: #d9f3f5;
    }
  }


  &__content {
    margin-left: 54px;
    margin-top: 0;
    font-size: 18px;
    font-weight: normal;
    color: rgba(24, 24, 24, 0.7);
  }

  &__subtitle {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #2c374a;
    //color: black;
    font-size: 1.125em;
    font-weight: bolder;
    //margin-left: 10px;

    &_container {
      width: 97%;
      display: flex;
      margin: auto;

      padding: 20px 10px 0 10px;
      //border-bottom: 1px solid rgba(98, 105, 119, 0.31);
    }

    &_location{
      display: inline;
      font-size: 15px;
      color: #626977;
      font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
      margin: 0;
      font-weight: lighter;
    }
  }

  &__left-side{
    //float: left;
    width: 30%;
    background-color: #F5F5F6;
  }

  &__mn{
    //width: 100%;
    //border-radius: 50%;
    //padding: 20px;
    //margin-top: 20px;
    //position: relative;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
  }
  &__photo{

      z-index: 1;
      border: 1px solid #fff;
      border-radius: 10px;
      margin-bottom: 15px;
      width: 170px;
      height: 170px;
      //width: 100%;
      //box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.11);

  }


  &__main-container{
    //display: flex;
    //padding: 20px;
    padding-bottom: 120px;
  }
  &__subnav{
    background-color: #89d8e0;
    padding-left: 45px;
    padding-right: 45px;
    display: flex;
    justify-content: space-between;
  }
  &__big{
    background-color: #fafafa;
    width: 100%;
    height: 550px;
    //position: relative;
  }

  &__info{
    max-width: 930px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
  }
  &__subt{
    display: inline-block;
    margin-left: 14px;
    color: #626977;
    font-size: 18px;
    font-family: Gotham, Helvetica, Arial, sans-serif;
    font-weight: bold;
    vertical-align: bottom;
    //width: 80%;
    margin-top: 2px;
    margin-bottom: 0px;
  }
  &__in{
    margin-bottom: 60px;
  }
  &__hr{
    margin: 20px 0 0 0;
    border: 0;
    border-top: 1px solid #eff0f2;
    height: 1px
  }
  &__title-info{
    //height: 90px;
    vertical-align: middle;
    padding-bottom: 24px;
    //line-height: 90px;
  }

  &__info-cont{
    padding: 0 40px;
  }
  &__story-title{
    display: inline-block;
    vertical-align: top;
    width: 30%;
    color: #626977;
    line-height: 22px;
    padding-top: 3px;
    font-size: 11px;
    font-family: Gotham, Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
  }
  &__story{
    margin: 0;
    display: inline-block;
    width: 69%;
    color: #626977;
    line-height: 25px;
    font-family: Gotham, Helvetica, Arial, sans-serif;
    font-size: 15px;
  }


}

.user-details__icon-flag {
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
    content: url("icons/flag.svg");
}

.user-details__icon-heard {
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
    content: url("icons/heart.svg");
}

.user-details__icon-contact {
  width: 23px;
  height: 23px;
  display: inline-block;
  vertical-align: middle;
    content: url("icons/contact.svg");
}
.user-details__icon-categories {
  content: url("icons/categories.svg");
}


.user-details__icon-paper {
  width: 23px;
  height: 23px;
  display: inline-block;
  vertical-align: middle;
    content: url("icons/paper.svg");
}
.user-details__icon-location {
  width: 23px;
  height: 23px;
  display: inline-block;
  vertical-align: middle;
  content: url("icons/location.svg");
}

.user-details__icon-calendar {
    content: url("icons/calendar.svg");
}