.UserMenu {
  margin-left: auto;
  margin-right: 2.8em;

  &:hover &__options {
    display: block;
  }

  &__options {
    display: none;
    position: absolute;
    background-color: #40c4cf;
    min-width: 10em;
    box-shadow: 0 2px 4px 0 #1696a8;
    z-index: 1;
    font-size: 1em;
  }

  &__photo {
    height: 2.8em;
    width: 2.8em;
    border-radius: 50%;
    vertical-align: middle;
    border: 1.5px solid white;
    &:hover {
      border: 1.5px solid #5d89d0;
    }
  }

  &__name {
    cursor: pointer;
    font-size: 1em;
    color: white;
    height: 3em;
    margin-left: 2.5em;
    border: 0;
    background: transparent;
    text-transform: uppercase;
    font-weight: bold;
    &:focus {
      outline: 0;
    }
    &:hover {
      color: #5d89d0;
    }
  }

  &__options-item {
    padding: 1em 2em;
    text-decoration: none;
    display: block;
    color: white;
    text-align: center;

    &:hover {
      cursor: pointer;
      color: #5d89d0;
    }
  }
}
